h1 {
    color: #dd1919;
    text-align: center;
    font-size: 30px;
}

.lose {
  color: #726060;
  font-size: 25px;
}

.win {
  color: #c0f510;
  font-size: 25px;
}

html, body {
    height: 100%;
    margin: 0;
  }
  
body {
    /* background: #000; */
    background: white;
    min-width: 538px;
    
  }

  .board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .goblin {
    width: 100%;
    max-width: 120px;
    height: 100%;
    background: url('../img/goblin.png');
  }


  .board {
    display: grid;
    border: 2px solid yellow;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 120px); 
    /* gap: 1px;   */
    padding: 5px;
  }

  .A {
    border: 1px solid yellow;
    background-color: green;
    text-align: center;
    height: 100%;
  }

  @media (max-width: 640px) {
    .board {
      width: 85%;
    }
  }

  @media (min-width: 641px) and (max-width: 990px) {
    .board {
      width: 55%;
    }
  }

  @media (min-width: 991px) and (max-width: 1640px) {
    .board {
      width: 40%;
    }
  }

  @media (min-width: 1641px) {
    .board {
      width: 30%;
    }
  }

  